<!DOCTYPE html>
<html>
<head>
    <title>Smart Inventory - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Smart Inventory - User Mode</h1>
    <div class="vertical-menu">
        <a href="{{ url_for('add_item') }}" class="menu-box">Add Item</a>
        <a href="{{ url_for('purchase') }}" class="menu-box">Customer Mode</a>
        <a href="#" class="menu-box">Alerts</a>
        <a href="{{ url_for('index') }}" class="menu-box">Current Inventory</a>
        <a href="{{ url_for('transactions') }}" class="menu-box">Transactions</a>
    </div>
</body>
</html>
